<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta charset="UTF-8">
	{% block header %}
	<link rel="stylesheet" href="public/jquerymobile/jquery.mobile-1.4.5.css">
	<link rel="stylesheet" href="public/overlay/css/jquery-ui-1.8.22.custom.css">
	<link rel="stylesheet" type="text/css" media="screen" href="public/overlay/css/jq.css">
	<link rel="stylesheet" type="text/css" media="screen" href="public/overlay/css/block.css?v3">
	<script src="public/js/jquery.js"></script>
	<script src="public/overlay/js/jquery-1.11.3.min.js"></script>
	<script src="public/overlay/js/jquery.blcokui.js"></script>
	<script src="public/overlay/js/chili-1.7.pack.js"></script>
	<script src="public/jquerymobile/jquery.mobile-1.4.5.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=SnS6Z2pa2I3hpTTSoBKBAvN3i8zZLho9"></script> 
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<title></title>
	{% endblock %}
</head>
<body>
	<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>都市快报</h1>
  </div>

  <div data-role="main" class="ui-content" id='extra'>
    {% block content %}
		
    {% endblock %}
  </div>

  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="index.php?c=news&a=index" data-icon="grid" data-ajax='false'>列表</a></li>
        <li><a href="index.php?c=near&a=index" data-icon="minus" data-ajax='false'>鱼塘</a></li>
        <li><a href="index.php?c=index&a=index" data-icon="home" data-ajax='false'>个人中心</a></li>
      </ul>
    </div>
</div> 
</body>
</html>
{% block jquery %}
		
{% endblock %}
